{% extends "layout.html" %}

{% block main_content %}
<div>
    {% if cart %}
    <div class="container ">
        <table class="table  table-sm table-condensed table-striped table-hover">
            <thead>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </thead>
            <tbody>
                {% for game_id in cart %}
                <tr>
                    <td>{{ names[game_id] }}</td>
                    <td>{{ cart[game_id] }}</td>
                    <td>${{ prices[game_id] }}</td>
                    <td><a href="{{ url_for('deletefromcart', game_id=game_id) }}" class="btn  btn-sm btn-outline-danger">Delete</a></td>
                </tr>
                {% endfor %}
                <tr><td> Total Price = {{ totalPrice }}</td></tr>
            </tbody>
        </table>
        {% else %}
        <div class="d-flex justify-content-center">
            <div class="card p-3" style="width: 18rem;">
                <p>Your cart is empty!</p>
            </div>
    </div>

    {% endif %}
</div>
</div>

{% endblock main_content %}