<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for("index") }}">GameShop</a>
    <div>
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for("index") }}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("cart") }}">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("profile") }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ url_for("register") }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ url_for("login") }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ url_for("logout") }}">Logout</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="{{ url_for("admin") }}">Admin</a>
            </li>
        </ul>
    </div>
</nav>