{% extends "layout.html" %}

{% block main_content %}

<div class="text-center h1">Register</div>
<div class="container">

    <form method="post" action="" novalidate>
        <div>
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name() }}
            {{ form.username.label }}
            {{ form.username() }}
            {{ form.email.label }}
            {{ form.email() }}
            {{ form.password.label }}
            {{ form.password() }}
            {{ form.confirm.label }}
            {{ form.confirm() }}
        </div>

        {{ form.submit() }}
    </form>
</div>

{% endblock main_content %}