{% extends "layout.html" %}

{% block main_content %}
<div class="container col-lg-5">
<div class="text-center h1">Register</div>
    {% from "macros.html" import render_field with context %}

    <form method="post" action="" novalidate>
            {{ form.hidden_tag() }}
        <div >
            {{ render_field(form.name) }}
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ form.submit(class_=" btn btn-primary") }}
        </div>

    </form>
</div>

{% endblock main_content %}