{% extends "layout.html" %}

{% block main_content %}
<div class="container">
    <h2>UPDATE GAME</h2>
    {% from "macros.html" import render_field with context %}
    <form method="post" action="" novalidate>
        <div>
            {{ form1.hidden_tag() }}
            {{ render_field(form1.gameName) }}
            {{ form1.submit(class_=" btn btn-primary") }}
        </div>

    </form>
    <form method="post" action="" novalidate>
        <div>
            {{ form2.hidden_tag() }}
            {{ render_field(form2.gameStock) }}
            {{ form2.submit(class_=" btn btn-primary") }}
        </div>

    </form>
    <form method="post" action="" novalidate>
        <div>
            {{ form3.hidden_tag() }}
            {{ render_field(form3.gameDesc) }}
            {{ form3.submit(class_=" btn btn-primary") }}
        </div>

    </form>
    <div>

{% endblock main_content %}


