{% extends "layout.html" %}

{% block main_content %}
<div class="container">
    <div class="text-center h1">Update Game</div>
    <form method="post" action="" novalidate>
        <div class="form-group">
            <label for="gameName" class="form-label">Game Name</label>
            <input type="text" class="form-control" value="{{ game.name }}" name="gameName">
        </div>
        <div class="form-group">
            <label for="gamePrice" class="form-label">Game Price</label>
            <input type="text" class="form-control" value="{{ game.price }}" name="gamePrice">
        </div>
        <div class="form-group">
            <label for="gameDiscount" class="form-label">Game Discount</label>
            <input type="text" class="form-control" value="{{ game.discount }}" name="gameDiscount">
        </div>
        <div class="form-group">
            <label for="gameStock" class="form-label">Game Stock</label>
            <input type="text" class="form-control" value="{{ game.stock }}" name="gameStock">
        </div>
        <div class="form-group">
            <label for="gameDesc" class="form-label">Game Description</label>
            <textarea type="text" class="form-control" name="gameDesc" rows="7">{{ game.descr }}</textarea>
        </div>
        <input type="submit" name="" value="Update Game" class="btn btn-info mt-2">
    </form>

    <div>

        {% endblock main_content %}